* { border: 0px solid black; }

@media (max-width: 736px) {
	.container {
		margin: 0 !important;
		margin-right: 0rem !important;
		border-radius: 0px !important;
		box-shadow: none !important;
	}
	.today {
		margin-top: 0rem !important;
		margin-right: 0rem !important;
		border-radius: 0px !important;
	}
}

@media (min-width: 737px) {
	.container {
		margin-top: 2rem !important;
	}
}

body {
	background-color: #F0F2EB ;
	color: #FFF ;
	line-height: 1;
}

html {
	line-height: 1 ;
	font-family: 'Lato' ;
}

.row {
	margin: 0 !important;
}

h3 {
	font-size: 3.5rem;
	font-weight: 300;
}

h4 {
	font-weight: 300;
	font-size: 2.5rem;
}

h5 {
	font-weight: 300;
	font-size: 2.5rem !important;
}

h6 {
	font-weight: 300;
	font-size: 1.9rem !important;
}

.disclaimer {
	color: black;
}

#temperature-reading {
	font-weight: 300;
	font-size: 6rem;
}

#city-reading {
	font-weight: 400;
}

p {
	font-weight: 300;
	font-size: 2rem;
}
p, h1, h2, h3, h4, h5, h6, .icon, .icon-sm {
    text-shadow: 1px 2px 3px rgba(0,0,0,.1);
}

.thanks {
	padding-bottom: 8rem;
}

.thanks p {
	margin-top: 1.4rem;
	font-size: 1.6rem !important;
	color: black;
}

.container {
	padding-right: 0;
	padding-left: 0;
	background-color: #FFF;
	padding-bottom: 3rem;
	margin-top: 2rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	box-shadow: 9px 15px 27px -12px rgba(110,110,110,.4),
				-9px 0px 27px -12px rgba(110,110,110,.4);
}

.today {
	padding-top: 3rem !important;
	padding-bottom: 2rem;
	border-radius: 10px 10px 0px 0px;
}

input {
	font-family: 'Lato';
	font-weight: 300;
	font-size: 20px;
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
	border-bottom: 1px solid rgba(0,0,0,.1) ;
	border-radius: 10px;
	width: 80%;
	line-height: 1;
	padding-left: 1rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,.6);
}

textarea:focus, input:focus{
    outline: none !important;
}

input[type="radio"]{
    vertical-align: baseline;
}

label:active {
	outline: none !important;
}

input:active {
	outline: none !important;
}

button:active {
	outline: none !important;
}

#locSearchBtn {
	background-color: transparent;
}

.forecast {
	padding-bottom: 3rem;
}

#search-icon {
	font-size: 2rem;
	line-height: 1;
	outline: none;
}

.icon {
	font-size: 8rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	line-height: .3;
}

.icon-sm {
	font-size: 4.4rem;
	padding-bottom: 1rem;
	line-height: .3;
}

.currently {
	font-size: 1.6rem;
}

.forecast-header {
	color: #999 ;
}

.forecast-days {
	color: #999 ;
}

#about {
	display: none;
}

#about-btn {
	color: #999 !important;
}

label {
	margin-right: 4px;
	margin-left: 4px;
}

h2, h3, h4, h5, h6, p, .icon, .icon-sm, i, input, #today {
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}