@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

html {
    transition: all 0.2s ease-in-out;
}

body {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 0 1.4em;
    margin-bottom: 0;
    color: #666666;
}

footer {
    display: flex;
    align-items: center;
    color: #a3a3a3;
    padding: 1.5em 0;
    margin: 3em 0 0 0;
    border-top: 1px solid #e0e0e0;
    font-size: 13px;
}

nav {
    display: flex;
    align-items: center;
    padding: 1em 0em;
    margin: 0 0 4em 0;
}

nav>div>span {
    display: none;
}

nav>ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#logo {
    height: 45px;
    width: 45px;
    background: #FAB79C;
    background-image: linear-gradient(140deg, #ff7e5f, #FF474D);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
    font-family: 'Abril Fatface', Georgia, 'Times New Roman', Times, serif;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px, rgba(10, 37, 64, 0.15) 0px -2px 6px 0px inset;
    transition: transform 0.3s ease-in-out;
}

#logo:hover {
    transform: translateY(-5px);
}

ul {
    list-style-type: none;
    padding: 0;
}



li {
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0em 1em;
}

.hero div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 4em;
    font-family: 'Libre Caslon Text', Georgia, 'Times New Roman', Times, serif;
    margin: 0.5em 0;
}

.hero>img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

.social-links {
    padding: 0;
    margin: 1em 0 2em 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
}

.social-links i {
    font-size: 1.5em;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
}

.project-cards {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    margin-bottom: 1.4em;
}

article {
    background-color: #FAFAFA;
    border-radius: 15px;
    padding: 1em 2em 2em 2em;
    box-shadow: rgba(50, 50, 93, 0.05) 0px 50px 100px -20px, rgba(0, 0, 0, 0.05) 0px 30px 60px -30px, rgba(10, 37, 64, 0.12) 0px -2px 6px 0px inset;
}

article a {
    padding: 1em 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #a3a3a3;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #FF474D;
}

.btn {
    position: relative;
    padding: 1em;
    border-radius: 25px;
    color: #171717;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(94, 79, 135, 0.08) 0px 0px 0px 1px;
}

.btn:hover {
    background-color: #171717;
    color: white;

}

.btn-socials {
    height: 36px;
    color: #000;
    white-space: nowrap;
    cursor: pointer;
    background-color: #fff;
    border: 1px rgba(0, 0, 0, .04);
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    font-size: 13px;
    text-decoration: none;
    transition: all .3s;
    display: flex;
    gap: 0.5em;
    box-shadow: inset 0 -3px 4px -1px rgba(0, 0, 0, .04), 0 2px 5px rgba(221, 150, 150, .04), 0 4px 4px rgba(0, 0, 0, .02), 0 0 0 1px rgba(0, 0, 0, .09);
}

.btn-socials:hover {
    box-shadow: inset 0 -3px 4px -1px rgba(0, 0, 0, .09), 0 2px 5px rgba(0, 0, 0, .13), 0 4px 4px rgba(0, 0, 0, .02), 0 0 0 1px rgba(0, 0, 0, .09);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #171717;
    font-weight: 600;
}

p {
    line-height: 162.5%;
}

/******* 
START ABOUT SECTION 
*********/

.about-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6em;

}

.about-main img {
    max-width: 100%;
    border-radius: 15px;
}

.about-main blockquote {
    line-height: 162.5%;
    border-left: 1px solid #e0e0e0;
    margin: 2em 0;
    padding: 0 2em;
    font-style: italic;
    font-weight: 100;
    font-family: 'IBM Plex Mono';
    font-size: 0.8em;
}

#about-quote {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2em;
    left: -3.2em;
    background-color: white;
}

.about-main ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.2em;
    font-size: 0.8em;
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
}

.interests ul {
    display: grid;
    grid-gap: 1em;
    margin: 1em 0 2em 0;
}

/******
START DESKTOP MEDIA QUERIES 
*******/

@media (min-width: 768px) {
    nav {
        max-width: 1024px;
        margin: 0 auto;
        margin-bottom: 4em;
        justify-content: space-between;
    }

    nav>ul {
        width: 500px;
        display: flex;
        justify-content: space-around;
    }

    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        gap: 8em;
        margin: 0 0 4em 0;
    }

    .hero div {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .hero>img {
        height: 335px;
        width: 335px;
        border-radius: 50%;
    }

    .hero h1,
    p,
    ul {
        width: 100%;
    }

    .social-links {
        padding: 0;
        margin: 1em 0 0 0;
        font-size: 14px;
        grid-template-columns: repeat(5, 30px);
        gap: 2em;
    }

    .social-links i {
        font-size: 1.5em;
    }

    main {
        max-width: 1024px;
        margin: 0 auto;
    }

    .projects {
        display: flex;
        gap: 1.4em;
    }

    .project-cards {
        display: flex;
        flex-direction: row;
        gap: 1.4em;
        margin-bottom: 1.6em;
    }

    article {
        width: 33%;
        display: grid;
    }

    article p {
        margin: 0 0 1em 0;
    }

    article h3 {
        margin: 1em 0 1em 0;
    }

    article a {
        align-self: end;
    }

    .btn-socials {
        max-width: 10em;
    }
}