* { border: 0px solid black; }

@media (max-width: 480px) {
	.container, .banner {
		margin: auto;
		max-width: 48rem !important;
		width: 100% !important;
		margin-top: 0rem !important;
		margin-bottom: 0rem !important;
		margin-left: 0rem !important;
		margin-right: 0rem !important;
		border-radius: 0 !important;
		box-shadow: none !important;
	}
}

body {
	background-color: #F0F2EB ;
	color: #FFF ;
}

html {
	line-height: 1 ;
	font-family: 'Lato' ;
}

h3 {
	font-size: 3rem;
	font-weight: 300;
}

h4 {
	font-weight: 300;
	font-size: 2.2rem;
  text-shadow: 1px 1px 4px rgba(0,0,0,.2);
}

h5 {
	font-weight: 300;
	font-size: 1.7rem;
}

h6 {
	font-weight: 300;
	font-size: 1.4rem;
}

p {
	font-weight: 300;
	font-size: 1.6rem;
}

header {
	height: 24rem;
}

.container {
	padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 2rem !important;
	min-width: 20rem;
	max-width: 40rem;
}

.all {
  padding-top: 0;
	background-color: #F2F2F2;
	padding-bottom: .5rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	-webkit-box-shadow: 1px 15px 37px -17px rgba(110,110,110,.5);
	-moz-box-shadow: 1px 15px 37px -17px rgba(110,110,110,.5);
	box-shadow: 1px 15px 37px -17px rgba(110,110,110,.5);
}

.banner {
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://i.imgur.com/frH4oAf.jpg);
	background-size:100%;
	padding: 2rem;
	border-radius: 10px 10px 0px 0px;
	min-height: 17rem;
	border-bottom: 8px solid #5cc0ff;
  text-shadow: 1px 1px 6px rgba(0,0,0,.9);
}

.avatarcontainer {
	max-height: 2rem;
}

.avatar {
	position: relative;
	bottom: 5rem;
	border: 8px solid #5cc0ff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	height: 90px !important;
}

.avatar:hover {
	opacity: 1;
	cursor: pointer; 
}

.content {
	color: #777;
}

.stats-container {
	padding-left: 2rem;
	padding-right: 2rem;
}

.stats {

	padding-bottom: 2rem;
}

#follow-button {
	background-color: #0084b4;
	color: #fff !important;
	min-width: 16rem;
	margin-bottom: 2rem;
	transition: all 0.3s ease;
	outline: none !important;
}

#follow-button.click{
	color: #fff;
	background-color: #34CF7A;
}

.latest-tweets {
	min-height: 20rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,.6);
}

h2, h3, h4, h5, h6, p, .icon, .icon-sm, i, input, #today {
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}