@media (max-width: 767px) {
	.fill {
		padding-top: 1em !important;
	}
}

body {
	font-family: 'Libre Franklin', serif !important;
	transition: background-color 1s ease-in-out;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container>div {
	margin-bottom: 2em;
}

.navbar-default {
	background-color: rgba(235, 235, 235, 0.3) !important;
	border-bottom: none !important;
}

.navbar a {
	color: #333 !important;
}

.navbar a:link {
	text-decoration: none;
	font-size: 1.4rem;
}

.fill {
	min-height: 100% !important;
	width: 100% !important;
	position: absolute;
	padding-top: 80px;
}

#quote-display {
	max-width: 640px;
	text-align: center;
	background-color: #FFF;
	border-radius: 5px;
	padding: 2em;
}

#quote {
	font-size: 2.6rem;
	margin: 1em;
}

#author {
	font-size: 1.8rem;
	margin: 1em;
}

button {
	border: none !important;
	color: white !important;
	text-decoration: none;
	font-size: 1.4rem;
	outline: none !important;
	margin: 1em 0;
	padding: 24px;
}

button:hover {
	box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

p {
	color: white;
	font-size: 1.2rem;
}

a {
	color: white !important;
}

a:link {
	color: white !important;
	font-size: 1.2rem;
	text-decoration: underline;
}

.clickable-div {
	cursor: pointer;
}