@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

* {
    font-family: 'Lato';
    letter-spacing: 0.2px;
}

p,
h1,
h2,
h3,
h4,
li,
a {
    color: #46494e;
}

a,
button {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: #d54215;
}

button {
    border: none;
    font-family: 'Lato';
    font-weight: lighter;
    font-size: 1em;
    background-color: #f3f6f8;
}

body {
    padding: 0;
    margin: 0;
    background: #f3f6f8;
}

i {
    color: rgb(187, 39, 39)
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown button {
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + .25rem);
    background-color: white;
    padding: 1rem;
    width: 5em;
    left: -1.5em;
    text-align: center;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    cursor: pointer;
}

.dropdown.active>.link+.dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

footer {
    height: 6em;
    background-color: rgb(29, 27, 27);
    margin-top: 4em;
}

p,
li,
blockquote {
    line-height: 1.6em;
    font-weight: lighter;
}

nav {
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    margin: 0 0 2em 0;
    background: rgba(#fff, #fff, #fff, 1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(5px);
}

nav h4 {
    font-weight: 700 !important;
    font-size: 1.3em;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    padding: 0 2em;
}

.dropdown ul {
    display: block;
    padding: 0;
}

.dropdown li {
    padding: 0;
}

main {
    margin: 0 auto;
    max-width: 1024px;
}

main h2 {
    font-size: 1.8em;
}

blockquote {
    margin: 0;
    font-size: 1.1em;
    color: white;
}

h1,
h2 {
    font-weight: 500;
}

strong {
    font-weight: 500;
}

.featured-recipes {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 2em 0;

}

.recipe img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: 50%;
    border-radius: 15px 15px 0 0;
}

.recipe {
    background-color: white;
    border-radius: 15px;
    width: 18em;
    height: 24em;
    border: 1px solid rgb(238, 238, 238);
}

.recipe p {
    font-size: 0.8em;
    color: rgb(110, 110, 110);
}

.recipe-content {
    margin: 1.2em 1.5em 0em 1.5em;
}

.hero-main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 500px;
    margin-bottom: 4em;
}

.hero-copy {
    display: flex;
    align-items: center;
    padding: 0em 2em;
    font-size: 1.5em;
}

.hero-image {
    background-image: url('images/hero-image.avif');
    background-size: cover;
    background-position: 0em -2em;
}

.hero {
    height: 26em;
    margin: -1em 0 4em;
}

.hero h1 {
    margin: 0.8em 0 0 0;
}

.meatloaf {
    background-image: url('images/meatloaf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lasagna {
    background-image: url('images/karolina-kolodziejczak-OSMAK8b74ls-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.spaghetti {
    background-image: url('images/homescreenify-sA3wymYqyaI-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3em;
}

.reviews-text {
    padding-left: 8px;
}

p {
    font-weight: 300;
}

.summary {
    background-color: white;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.summary ul {
    list-style: none;
}

.summary ul li {
    padding: 0.8em 0;
}

.soft-shadow {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.quote-container {
    background-color: #d54215;
    border-radius: 10px;
    color: white !important;
    margin: 0;
    margin-top: 1.4em;
    margin-bottom: 1em;
    padding: 2em 2em 1em 2em;
}

.quote-container p:nth-child(2) {
    font-size: 0.9em;
    color: white;
}

.quote-container p:nth-child(3) {
    font-size: 0.8em;
    color: white;
}

.full-recipe img {
    max-height: 300px;
}